<!DOCTYPE html>
<html lang="en">
<head>
    <title>Todos</title>
</head>

<body>
    <div class="container">
                <table class="table table-borderless">
                    <thead>
                    <tr>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {{range .Todos}}
                        {{if .Completed}}
                            <tr>
                                <td><strike>{{.Item}}</strike></td>
                            </tr>
                        {{else}}
                            <tr>
                                <td>{{.Item}}</td>
                            </tr>
                        {{end}}
                    {{end}}
                    </tbody>
                </table>
    </div>
</body>
</html>
