<!DOCTYPE html>
<html lang="en">
<head>
    <title>Todos</title>
</head>

<body>
    <div class="container">
                <table class="table table-borderless">
                    <thead>
                    <tr>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {{range .Todos}}
                        {{if .Completed}}
                            <tr>
                                <td style="color:#c0c0c0;"><s>{{.Item}}</s></td>
                            </tr>
                        {{else}}
                            {{if .Focused}}
                                <tr>
                                    <td><b>{{.Item}}</b></td>
                                </tr>
                            {{else}}
                                <tr>
                                    <td>{{.Item}}</td>
                                </tr>
                            {{end}}
                        {{end}}
                    {{end}}
                    </tbody>
                </table>
    </div>
</body>
</html>
