<!DOCTYPE html>
<html lang="en">
<head>
    <title>Todos</title>
</head>

<body>
    <div class="container">
                <table class="table table-borderless">
                    <thead>
                    <tr>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {{range .}}
                        {{if .Completed}}
                            <tr>
                                <td style="color:#c0c0c0;"><s>{{.Item}}</s></td>
                            </tr>
                        {{else}}
                            {{if .Focused}}
                                {{if .Repeated}}
                                    <tr>
                                        <td><b>{{.Item}}</b> &#128257;</td>
                                    </tr>
                                {{else}}
                                    <tr>
                                        <td><b>{{.Item}}</b></td>
                                    </tr>
                                {{end}}
                            {{else}}
                                {{if .Repeated}}
                                    <tr>
                                        <td>{{.Item}} &#128257;</td>
                                    </tr>
                                {{else}}
                                    <tr>
                                        <td>{{.Item}}</td>
                                    </tr>
                                {{end}}
                            {{end}}
                        {{end}}
                    {{end}}
                    </tbody>
                </table>
    </div>
</body>
</html>
